<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
</head>
<body>
    <h1>All Comments</h1>
    <% for(let c of comments) { %> 
        <ul>
            <li><%= `${c.comment} - ${c.username}` %> </li>
            <a href="/comments/<%= c.id %>">details</a><br>
            <a href="/comments/<%= c.id %>/edit">Edit</a>
        </ul>    
    <% } %> 
    <a href="/comments/new">Back to Make comments</a>
</body>
</html>