<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make a new comments</title>
</head>
<body>
    <h1>Make a new comments</h1>
    <section>
        <form action="/comments" method="POST">
            <label for="username">UserName :</label>
            <input type="text" name="username" id="username" placeholder="username"><br>
            <label for="comment">comment : </label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea><br>
            <button>Submit</button>
        </form>
        <a href="/comments">Back to comments</a>
    </section>
</body>
</html>